html, body{
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  max-width: 100%
}

.everything_besides_header {
  /*margin: 0 5% 0 5%;*/
}

header img,header nav {
    display:inline-block;
    vertical-align: middle;
 }
.header{
  height: 190px;
}
#logo{
  height: 135px;
  width: auto;
  float: left;
}
#mynav {
    background-color: #f7f7f7;
    height: 145px;
    width: 100%;
    padding: 1em;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    text-align: left;
    position: relative;
}
#mynav a { /*font color? */
    color: #636363; /* this is grey */
    font-size: 20px;
}
#mynav button { /*font color? */
    color: #636363; /* this is grey */
    font-size: 20px;
}
#mynav ul {
    margin: 10px;
    padding-left: 300px;
    padding-top: 40px;
    /* Makes sure there are no bullets in a list*/
    list-style: none;
}
#mynav ul li {
   display: inline-block;
   margin: 0 0.35em;
   padding: 0;
   /* Center the text vertically */
   vertical-align: middle; 
}
#mynav ul li a, .dropbtn {
   display: inline-block;
   height: 2.25em;
   line-height: 2.25em;
   padding: 0 1.25em;
   border: 0;
   border-radius: 8px;
   box-shadow: inset 0 0 0 1px transparent;
   text-decoration: none;
}
/* Style for menu item links when you hover your cursor over one */
#mynav ul li a:hover, .dropbtn:hover {
   background-color: rgba(222, 222, 222, 0.25);
}

/* ACADEMIC RESOURCES DROP DOWN*/
.dropbtn {
    font-family: inherit;
    font-size: inherit;
    background-color: inherit;
    color: #636363;
}
.dropbtn:focus {
    outline: 0; /* remove default highlighted blue border*/
}
.dropdown {
    position: relative;
    display: inline-block;
}
.mynav a:hover, .dropdown:hover .dropbtn {
    background-color: #f1f1f1;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    overflow: visible;
}
.dropdown a:hover {
    background-color: #ddd
}
.show {
    display:block;
}
.dropdown:hover .dropdown-content {
    display: inline-table;
}
arrow {
  border: solid blue;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down { /* for arrow */
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

{box-sizing:border-box}
/*END ACADEMIC RESOURCES DROP DOWN*/


/* Slideshow container */
.item {
  max-height: 650px;
  overflow: hidden;}

img.resize{
  max-width:100%;
}

.slideshow-container {
  width: 70%;
  height: 50%;
  position: relative;
  margin: 0% 1% 0% 2%;
  float: left;
}

.slide-buttons { /*this is the container for the slide show 'circles'*/
  text-align: center;
}
/* Hide the images by default */
.mySlides {
    display: none;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 5px;
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 6px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
}
.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* EMAIL LISTING CONTENT */
/* Full-width input fields */
input[type=text]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline;
    border: none;
    background: #f1f1f1;
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.signupbtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.signupbtn:hover {
    opacity:1;
}
/* Add padding to container elements */
/*FOR JOIN US CONTAINER*/
.form{
  float: left;
  display: inline;
  border-style: solid;
  border-color: #ccc;
  border-width: thin;
  /*width: 18.5%;*/
  max-width: 340px;
}
.email-container {
    padding: 5%;
}
input.enter-email{
  width: 90%
}
/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/* Change styles for signup button on extra small screens */
@media screen and (max-width: 300px) {
  .signupbtn {
       width: 75%;
    }
}
/*END EMAIL LISTING CONTENTS*/

/*FACEBOOK CONTENTS */
/*.fb-page{
  width: 100%;
}*/

iframe.fb-frame {
  margin: 1% 0% 1% 0%;
  max-width: 350px;
  width: 100%;
  min-height: 305px;
  height: 100%;
  float: left;
}
/*END FACEBOOK CONTENTS*/

/* About */
.description.box {

}
.members.box{
 
}
.members-pics{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

/* Calender / Events */
.calendar {
  padding-top: 30px;
  position: absolute;
  height: 100%;
  width: 100%;
}

/* Resources - sidebar */
.sidebar{
  float: left;
  background-color: #f7f7f7;
  max-width: 260px;
  margin: 15px; 
  width: 100%;
}
.sidebar a { /*font color? */
    color: #636363; /* this is grey */
    font-size: 20px;
}
.sidebar button { /*font color? */
    color: #636363; /* this is grey */
    font-size: 20px;
}
.sidebar ul {
    margin: 10px;
    padding: 10px;
     /* Makes sure there are no bullets in a list*/
    list-style: none; 
}
.sidebar ul li {
   display: inline-block;
   margin: 0 1.35em;
   padding: 0;
   /* Center the text vertically */
   vertical-align: middle; 
}
.sidebar ul li a{
   display: inline-block;
   height: 2.25em;
   line-height: 2.25em;
   padding: 0 1.25em;
   border: 0;
   border-radius: 8px;
   box-shadow: inset 0 0 0 1px transparent;
   text-decoration: none;
}
/* Style for menu item links when you hover your cursor over one */
.sidebar ul li a:hover {
   background-color: rgba(222, 222, 222, 0.25);
}
article {
    margin-left: 170px;
    padding: 1em;
    overflow: hidden;
}
