/** SLIDESHOW CSS**/

.slideshow-container {
    width: 100%;
    margin-bottom: 1em;
}
.slide_images img{
    width: 100%;
    height: 655px;
}
div.item.active {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.item {
  height: 38em;
  overflow: hidden;
}
/*img.resize{
  max-width:100%;
}*/
/* Hide the images by default */
.mySlides {
    display: none;
    overflow: hidden;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: 5px;
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Caption text 
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}*/
/* The dots/bullets/indicators */
/*.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 6px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
}
.active, .dot:hover {
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}